@import "compass";

@import url("//fast.fonts.net/cssapi/303907c6-81e5-4c39-9e43-c01f800f62b8.css");

body,button,input, textarea {
	margin: 0;
	font-family:'Aktiv Grotesk W01 Light1370681', Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,p, .ui-textfield label {
	font-weight: normal;
	font-family:'Aktiv Grotesk W01 Regular' , Helvetica, Arial, sans-serif;
}